server {
    listen 80;
    server_name www.DOMAIN DOMAIN;

    real_ip_header X-Forwarded-For;
    real_ip_recursive on;

    root ROOT;

    index index.html index.htm index.php;

    charset utf-8;
    
    #access_log off;
    access_log  /var/log/nginx/DOMAIN-access.log;
    error_log  /var/log/nginx/DOMAIN-error.log error;
    rewrite_log     on;

    # Heres my redirect, try normal URI and then our Laravel urls.
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location ~* ^.+.(css|js|jpeg|jpg|gif|png|ico|xml) {
        access_log off;
        expires 3h;
    }

    error_page 404 /index.php;

    location ~* \.php$ {
        # set a custom param
        PARAMSHERE

        # Server PHP config.
        #fastcgi_pass                    unix:/var/run/php5-fpm.sock;
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index                   index.php;
        fastcgi_split_path_info         ^(.+\.php)(.*)$;

        # Typical vars in here, nothing interesting.
        include                         /opt/local/etc/nginx/fastcgi_params;
        fastcgi_param                   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }
}
